*.dSYM
*.cmake
*.log
*.o
*.s
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
man/*.html
man/Makefile.in
missing
probes.h
stamp-*
testing
